.brand-name {
  font-family: $font-nunito;
  font-size: 40px;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}

.sub-name {
  font-family: $font-roboto;
  font-size: 20px;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 80px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: $font-roboto;
  font-size: 40px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 60px;
}

.main-btn {
  width: 170px;
  height: 50px;
  font-family: $font-roboto;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-secondary;
  background-color: transparent;
  border: 2px solid $color-secondary;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-secondary;
    color: $color-dark;
  }
}
